.App {
  text-align: center;
  min-height: 100vh;
  background-color: #f1d9cf;
}

.home {
  text-align: center;
  min-height: 100vh;
  background-image: url('./home-pg-bg.jpg');
  background-color: rgb(40 50 83 / 60%);
  background-size: cover;
  background-position: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(40 50 83 / 60%);
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d7b79b;
}

.Ember {
  color: #d27f36;
  flex-grow: 1 ;
  text-align: left;
  font-family:'Calibri';
  font-weight: bold;
  font-size: 2em;
}


.App-link {
  color: #4bb2ce;
}


.content {
  color: #EEE2DC;
  max-height: calc(100vh - 64px); /* Adjust based on AppBar height */
  overflow-y: auto;
  flex-grow: 1;
  padding: 50px;
  padding-left: 30%;
  padding-right: 30%;
}

.plot-content {
  color: rgb(32, 42, 77);

}
